<div class="modal fade" id="editComercialModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Comerciales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <select id="edit-comerciales" class="form-select" multiple>
          {% for com in comerciales %}
            <option value="{{ com.id }}" 
              {% if com in negocio.comerciales %}selected{% endif %}>
              {{ com.nombre }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" id="guardar-comerciales">Guardar</button>
      </div>
    </div>
  </div>
</div>
